<div class="background"></div>
<main>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <div style="display:inline-block" class="addFiles">
    <label class="label">
      <i class="material-icons">+</i>
      <span class="title">файл excel</span>
      <input #excelBooks type='file' accept=".xlsx" (change)="changeBooksExcel($event)">
    </label>
    <!--<a *ngIf="booksExcel.length" href="#excel">Перейти</a>-->
  </div> 
  <div style="display:inline-block" class="addFiles">
    <label class="label">
      <i class="material-icons">+</i>
      <span class="title">файл CSV</span>
      <input #CSVBooks type='file' accept=".csv" (change)="changeBooksCSV($event)">
    </label>
    <!--<a *ngIf="booksCSV.length" href="#csv">Перейти</a>-->
  </div> 
</main>
<main *ngIf="booksFromBD.length">
  <button class="btn btn-style" (click)="exportBooks()">Export</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Publisher</th>
        <th scope="col">Rubles</th>
        <th scope="col">Active</th>
      </tr>
    </thead>
    <tr *ngFor="let item of booksFromBD">
      <td scope="row">{{item.id}}</td>
      <td>{{item.title}}</td>
      <td>{{item.publisher}}</td>
      <td>{{item.price}}</td>
      <td>{{item.active}}</td>
    </tr>
  </table>
</main>
<main *ngIf="booksExcel.length">
  <a name="excel"></a>
  <button class="btn btn-style" (click)="addBooksToBD(booksExcel)">Добавить в базу данных</button>
  <button class="btn btn-style" (click)="clearExcelBooks()">Очистить</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Publisher</th>
        <th scope="col">Rubles</th>
        <th scope="col">Active</th>
      </tr>
    </thead>
    <tr *ngFor="let item of booksExcel">
      <td scope="row">{{item.id}}</td>
      <td>{{item.title}}</td>
      <td>{{item.publisher}}</td>
      <td>{{item.price}}</td>
      <td>{{item.active}}</td>
    </tr>
  </table>
</main>
<main *ngIf="booksCSV.length">
  <a name="csv"></a>
  <button class="btn btn-style" (click)="addBooksToBD(booksCSV)">Добавить в базу данных</button>
  <button class="btn btn-style" (click)="clearCSVBooks()">Очистить</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Publisher</th>
        <th scope="col">Rubles</th>
        <th scope="col">Active</th>
      </tr>
    </thead>
    <tr *ngFor="let item of booksCSV">
      <td scope="row">{{item.id}}</td>
      <td>{{item.title}}</td>
      <td>{{item.publisher}}</td>
      <td>{{item.price}}</td>
      <td>{{item.active}}</td>
    </tr>
  </table>
</main>

