.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url(https://i.pinimg.com/originals/f3/65/a9/f365a9f2deb31983ab568ac3aa274573.jpg) 100% 100% no-repeat;
  background-size: cover;
  filter: blur(15px);
}

main {
  margin: 30px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.mistake {
  background-color: rgba(255,179,131,0.7);
}

.listFiles {
  padding: 15px;
}

.divDownload {
  padding: 15px;
}

.btn-download {
  height: 40px;
  background-color: #FFB8A1;
}

.btn-download:hover {
  background-color: #F4B19A;
}

.addFiles input[type=file] {
  outline: 0;
  opacity: 0;
  pointer-events: none;
  user-select: none
}

.addFiles .label {
  width: 120px;
  border: 2px dashed grey;
  border-radius: 5px;
  display: block;
  padding: 1.2em;
  transition: border 300ms ease;
  cursor: pointer;
  text-align: center
}

.addFiles .label i {
  display: block;
  font-size: 42px;
  padding-bottom: 16px
}

.addFiles .label i, .addFiles .label .title {
  color: grey;
  transition: 200ms color
}

.addFiles .label:hover {
  border-color: #FFA283
}

.addFiles .label:hover i, .addFiles .label:hover .title {
  color: #875645
}
